%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Content:
  = raw @post.content

%p
  Posted under:
  = @post.category.name
  ,
  = time_ago_in_words(@post.created_at)
  ago.

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path

= render partial: 'comments/form'

%h3
  Comments
  = render partial: 'comment', collection: @comments unless @comments.blank?

= link_to "placeholder", url_for(controller: "posts", action: "show", slug: "axaxouxa")