<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: 'layouts/header' %>
    <div class="row">
      <div class="twelve columns">
        <% if flash[:error] %>
            <div class="alert-box error"><%= flash[:error] %><a class="close">x</a></div>
        <% end %>

        <%if flash[:notice] %>
            <div class="alert-box success"><%= flash[:notice] %><a class="close">x</a></div>
        <% end %>

        <%if flash[:alert] %>
            <div class="alert-box"><%= flash[:alert] %><a class="close">x</a></div>
        <% end %>
      </div>
        <div class="eight columns">
          <%= render partial: 'layouts/user_nav' %>
          <%= yield %>
        </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>